
.vs/FiindBrigeInGraf/DesignTimeBuild/.dtbcache.v2
.vs/FiindBrigeInGraf/FileContentIndex/66c4b09c-2299-462a-b011-3ddb52e87efe.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/fff4ef73-bb32-4c4e-bb7a-dcb64ff801d9.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/read.lock
.vs/FiindBrigeInGraf/v17/.futdcache.v2
.vs/FiindBrigeInGraf/v17/.suo
.vs/ProjectEvaluation/fiindbrigeingraf.metadata.v5.1
.vs/ProjectEvaluation/fiindbrigeingraf.metadata.v6.1
.vs/ProjectEvaluation/fiindbrigeingraf.projects.v5.1
.vs/ProjectEvaluation/fiindbrigeingraf.projects.v6.1
