.vs/
.vs/FiindBrigeInGraf/DesignTimeBuild/.dtbcache.v2
.vs/FiindBrigeInGraf/FileContentIndex/66c4b09c-2299-462a-b011-3ddb52e87efe.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/fff4ef73-bb32-4c4e-bb7a-dcb64ff801d9.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/read.lock
.vs/FiindBrigeInGraf/v17/.futdcache.v2
.vs/FiindBrigeInGraf/v17/.suo
.vs/ProjectEvaluation/fiindbrigeingraf.metadata.v5.1
.vs/ProjectEvaluation/fiindbrigeingraf.metadata.v6.1
.vs/ProjectEvaluation/fiindbrigeingraf.projects.v5.1
.vs/ProjectEvaluation/fiindbrigeingraf.projects.v6.1
.vs/applicationGUI_SearchBridgesInGraf-master/FileContentIndex/3aef134b-24e9-4a12-8f4a-84d3e0b79fdd.vsidx
.vs/applicationGUI_SearchBridgesInGraf-master/FileContentIndex/ab41a260-2bf8-4c44-ad44-2194859b4968.vsidx
.vs/applicationGUI_SearchBridgesInGraf-master/FileContentIndex/f4e8e9b5-5a9a-4b4d-a80e-100cb4f324bf.vsidx
.vs/applicationGUI_SearchBridgesInGraf-master/FileContentIndex/read.lock
.vs/applicationGUI_SearchBridgesInGraf-master/v17/.wsuo
.vs/applicationGUI_SearchBridgesInGraf-master/v17/workspaceFileList.bin
.vs/FiindBrigeInGraf/FileContentIndex/6e9eea87-03dd-408d-9622-d61ba3eefa22.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/be791091-0e47-4d95-ac9b-44d9843b4e17.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/c37e5cc6-ece3-4bb8-ac29-320a27b8f16d.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/f38553bf-56c2-48f7-ad82-6e679e799888.vsidx
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
