.vs/
.vs/FiindBrigeInGraf/DesignTimeBuild/.dtbcache.v2
.vs/FiindBrigeInGraf/FileContentIndex/66c4b09c-2299-462a-b011-3ddb52e87efe.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/fff4ef73-bb32-4c4e-bb7a-dcb64ff801d9.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/read.lock
.vs/FiindBrigeInGraf/v17/.futdcache.v2
.vs/FiindBrigeInGraf/v17/.suo
.vs/ProjectEvaluation/fiindbrigeingraf.metadata.v5.1
.vs/ProjectEvaluation/fiindbrigeingraf.metadata.v6.1
.vs/ProjectEvaluation/fiindbrigeingraf.projects.v5.1
.vs/ProjectEvaluation/fiindbrigeingraf.projects.v6.1
.vs/applicationGUI_SearchBridgesInGraf-master/FileContentIndex/3aef134b-24e9-4a12-8f4a-84d3e0b79fdd.vsidx
.vs/applicationGUI_SearchBridgesInGraf-master/FileContentIndex/ab41a260-2bf8-4c44-ad44-2194859b4968.vsidx
.vs/applicationGUI_SearchBridgesInGraf-master/FileContentIndex/f4e8e9b5-5a9a-4b4d-a80e-100cb4f324bf.vsidx
.vs/applicationGUI_SearchBridgesInGraf-master/FileContentIndex/read.lock
.vs/applicationGUI_SearchBridgesInGraf-master/v17/.wsuo
.vs/applicationGUI_SearchBridgesInGraf-master/v17/workspaceFileList.bin
.vs/FiindBrigeInGraf/FileContentIndex/6e9eea87-03dd-408d-9622-d61ba3eefa22.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/be791091-0e47-4d95-ac9b-44d9843b4e17.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/c37e5cc6-ece3-4bb8-ac29-320a27b8f16d.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/f38553bf-56c2-48f7-ad82-6e679e799888.vsidx
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/FiindBrigeInGraf/FileContentIndex/32891820-ebae-4c47-9cde-7bf0ffc5de1a.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/3ca74679-4716-4d36-8c7d-6f64f0ae30f7.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/a22b87b0-1ba2-4431-81d4-33b67acf23a4.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/ec28aea6-77d5-4318-8258-58bffede2594.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/220317b6-b59a-4848-a25b-8ef34d40d7b7.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/6161d3cb-74e0-4ec7-bf47-01989c289a05.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/d16d6da4-3d72-4e40-9470-8d87879a770b.vsidx
.vs/FiindBrigeInGraf/FileContentIndex/03988925-b0c8-4731-a47f-0f682aa828e0.vsidx
